nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(ng-href='/')
        span.glyphicon.glyphicon-cog
        |  Products
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(ng-href='/') Home
        li
          a(ui-sref='cart') Cart
.container
  .row
    .col-sm-12.col-md-12
      ul
        li.col-sm-3.col-md-3(ng-repeat='item in main.products ')
          a.product(href='')
            .product-main
              .product-photo
                img(ng-src='{{item.pic}}')
                img(ng-src='{{item.pic}}')
                .product-preview(ng-click='main.goToShow(item.id)')
                  span.button View
              .product-text
                h5 {{item.name | limitTo: 30 }}{{item.title.length > 30 ? '...' : ''}}
            .product-details-wrap
              .product-details
                span.product-price
                  b {{item.currency.symbol}}{{item.price}}
                .buttons
                  span.button.to-cart(ng-show='item.flag === true', ng-click='main.addLocalStorage(item)') Добавить
                .buttons
                  span.button.to-cart.inlist(ng-show='item.flag === false', ui-sref='cart') В списке

