body{
    font-family: "Ubuntu Condensed";
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}
main>section.content {
  background-color: #f9f9f9;
  margin: 0;
}

main>section.content>.items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

main>section.content>.items-container>.item {
  margin: 1em;
  box-shadow: -1px 2px 7px -1px rgba(0,0,0,0.6);
  width: 200px;
  color: #444;
  text-decoration: none;
  text-align: center;
}

main>section.content>.items-container>.item>.item-data-top {
  overflow: hidden;
}

main>section.content>.items-container>.item>.item-data-top>.item-price-container {
  position: relative;
}

main>section.content>.items-container>.item>.item-data-top>.item-price-container>.item-price {
	font-family: "Ubuntu Condensed";
    font-size: 35px;
    transform: translateY(50%) translateX(-35%);
    text-align: end;
    color: #fafefe;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
    position: absolute;
    right: 0;
}

main>section.content>.items-container>.item>.item-data-top>.item-pic {
  height: 284px;
  width: 200px;
  background-color: #f4f4fa;
  vertical-align: top;
}

main>section.content>.items-container>.item>.item-data {
  background-color: #f4f4fa;
  padding: 1em;
  margin: 0;
}
.navbar_menu{
    margin-top: 10px;
    margin-left: 10px;
}
/* PRODUCTS */

.products {
	list-style: none;
	margin: 0 -20px 10px 0;
	padding: 0;
}


.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
    margin: 5px;
    border-radius: 4px;
    min-height: 430px;
    background: #fff;
    padding: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
              flex-direction: column;
    box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}

.product {
	display: block;
	position: relative;
	background: #fff;
	margin-top: 10%;
	text-decoration: none;
	z-index: 0;
}

.product:hover {
	z-index: 1;
}


/* PRODUCT IMAGE */

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}

.product-preview {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	margin: auto;
	display: inline-block;
	transition: opacity, transform .2s ease-out;
	transform: translateY(2em);
	opacity: 0;
}

.product:hover .product-preview {
	transform: translateY(0);
	opacity: 1;
}


/* NAME AND DESCRIPTION */

.product-text {
	padding: 20px;
}

.product h2 {
	font-family: "Ubuntu Condensed";
	font-size: 1.4em;
	color: #2b69a9;
	margin: 0 0 .7em;
}

.product p {
	font-family: "Ubuntu Condensed";
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	/*height: 5.6em;*/
	overflow: hidden;
}

.product p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}


/* FAVOURITE AND COMPARISON */

.product-icons {
	line-height: 35px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.product-icons .icon {
	font-family: "Ubuntu Condensed";
	display: inline-block;
	background: #f5f5f5;
	width: 35px;
	height: 35px;
	font-size: 1.2em;
	text-align: center;
	border-radius: 50%;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, .3);
}

.product-icon-text {
	display: none;
	margin-left: 5px;
}

.product-icons-item {
	margin-bottom: 10px;
	white-space: nowrap;
}


/* PRODUCT DETAILS */

.product-details-wrap {
	padding: 0 20px 20px;
}

.product-availability {
	font-family: "Ubuntu Condensed";
	color: #2b69a9;
	font-size: .9em;
	margin-bottom: 1.5em;
}

.product-availability span {
	margin-right: .3em;
}

.product-availability.available-no {
	color: #ff3535;
}

.product-price {
	font-size: 1.3em;
}

.product-price-old {
	font-size: 1em;
	text-decoration: line-through;
	margin-right: .5em;
	color: #ff3535;
}

.product-price-old b,
.product-price-old small {
	color: #888;
}


/* BUTTONS */

.product-buttons-wrap {
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(.8);
	transform-origin: top;
	transition: transform .2s ease-out;
	z-index: -1;
	backface-visibility: hidden;
}

.product-buttons-wrap:before {
	content: "";
	float: left;
	height: 100%;
	width: 100%;
}

/*.buttons {*/
	/*position: relative;*/
	/*top: -1px;*/
	/*padding: 20px;*/
	/*background: #fff;*/
	/*transition: .2s ease-out;*/
	/*border: 1px solid #56bd4b;*/
	/*border-radius: 3px;*/
/*}*/

.button {
	display: inline-block;
	width: 100%;
	background: #943cbc;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	border: 0;
	padding: 10px 0;
	border-radius: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
}

.button:hover {
	opacity: .9;
}

.product:hover .product-buttons-wrap {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.to-cart {
	background: #2b69a9;
	margin-bottom: 1em;
}

.to-cart span {
	font-size: 1.1em;
	margin-right: .4em;
}
/* TABLE LAYOUT */

.table-layout .product-wrapper {
	width: 100%;
}

.table-layout .product {
	overflow: hidden;
	background: #f5f5f5;
}

.table-layout .product-main {
	width: 50%;
	float: left;
	background: #fff;
}

.table-layout .product-photo {
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 0 0 20px;
}

.table-layout .product p {
	height: auto;
	margin-bottom: 20px;
}

.table-layout .product p:after {
	display: none;
}

.table-layout .product-icons {
	position: static;
}

.table-layout .product-icon-text {
	display: inline;
}

.table-layout .product-icons .icon {
	box-shadow: none;
}

.table-layout .product-details-wrap {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 20px;
}

.table-layout .product-price {
	display: block;
	margin-bottom: .3em;
}

.table-layout .product-buttons-wrap {
	position: static;
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}

.table-layout .buttons {
	border: 0;
	padding: 20px 0 0;
	box-shadow: none;
	background: transparent;
}

ul{
    list-style-type: none;
}

.sidebar-left{
 margin-left: 30px;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 37%;
	}
	.table-layout .product-main {
		width: 70%;
	}
	.table-layout .product-details-wrap {
		width: 30%;
	}
	.table-layout .product-photo {
		width: 30%;
		padding-bottom: 30%;
		margin: 20px;
		border-radius: 3px;
	}
}
@media only screen and (min-width: 868px) {
	.product-wrapper {
		width: 25%;
	}
	.table-layout .product-main {
		width: 70%;
	}
	.table-layout .product-details-wrap {
		width: 30%;
	}

}

@media only screen and (min-width: 1100px) {
	.product-wrapper {
		/*width: 23%;*/
	}
	.table-layout .product-main {
		width: 80%;
	}
	.table-layout .product-details-wrap {
		width: 20%;
	}
}



.field-groups-view {
    margin-bottom: 20px;
    display: block;
}

.m-left {
    margin-left: 10px;
}
.m-right {
    margin-right: 10px;
}
.label-group-view {
    border-bottom: 2px solid #8996b3;
    color: #7280a0;
    display: block;
    padding-bottom: 3px;
    width: 100%;
}
.label-group {
    color: #bbb;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.display-table {
    margin: 10px 0;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.label {
    color: #525f66;
}
.inlist{
	background: #943cbc;
}